MODE=<development(if testing) or production(if deploying)>
MOCK_NUM=<wtv the 10-digit fuck you want>

OPENAI_API_KEY=openai_api_key_here
LLM_BASE_URL="http://127.0.0.1:31415/v1"
POSTGRES_URL=postgresql://user:password@localhost:5432/sbi_saarthi
MONGO_CONNECTION_STRING=mongodb://localhost:27017/
UIDAI_API_KEY=mock_uidai_key
CKYC_API_KEY=mock_ckyc_key
AA_API_KEY=mock_aa_key
DIGILOCKER_API_KEY=mock_digilocker_key
DIGILOCKER_CLIENT_ID=mock_client_id